@property --degrees-filled {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --fill-color {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}

:root {
  --outer-ring-size: 7rem;
  --inner-circle-size: 6rem;
}

.progress-circle {
  position: relative;
  cursor: default;
}

.progress-circle,
.progress-circle .outer-ring,
.progress-circle .inner-circle {
  border-radius: 50%;
}

.progress-circle,
.progress-circle .outer-ring {
  height: var(--outer-ring-size);
  width: var(--outer-ring-size);
}

.progress-circle .outer-ring {
  transition: --degrees-filled ease-in-out 1.5s;

  background-image: conic-gradient(
    from 0deg,
    var(--fill-color) var(--degrees-filled),
    #eaeaea var(--degrees-filled) 360deg
  );
}

.progress-circle .inner-circle {
  height: var(--inner-circle-size);
  width: var(--inner-circle-size);
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background-color: #eaeaea;
}

.progress-circle .inner-circle > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--inner-circle-size);
  width: var(--inner-circle-size);
  overflow: hidden;
  font-size: 1.2rem;
  color: var(--fill-color);
}

.progress-circle .inner-circle .primary-display,
.progress-circle .inner-circle .hover-display {
  position: absolute;
  top: 0;
  transition: ease-in-out 0.2s;
}

.progress-circle .inner-circle .primary-display,
.progress-circle:hover .inner-circle .hover-display {
  visibility: visible;
  opacity: 1;
}

.progress-circle:hover .inner-circle .primary-display,
.progress-circle .inner-circle .hover-display {
  visibility: hidden;
  opacity: 0;
}
